<%- contentFor('body') %>
    <main class="container">
        <h1>Expenses</h1>
        <a class="btn btn-primary" href="/management/expenses/new" role="button">Add</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% expenses.forEach( (expense)=> {%>
                    <tr>
                        <th scope="row"><%=expense.id %></th>
                        <td><%=expense.value %></td>
                        <td><%=expense.description %></td>
                        <td>
                            <a href="/management/expenses/edit/<%=expense.id %>" class="btn btn-primary">Edit</a>
                            <a href="" onclick="removeExpense(<%=expense.id %>)" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </main>
    <script>
        function removeExpense(id){
            if(confirm("Do you want to remove the chosen expense?")){
                fetch(`/management/expenses/remove/${id}`, {
                method: "POST"})
                .then((res) =>{document.location.reload()})
            }   
        }
    </script>